<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtt.dao.OptionDao">

    <insert id="insert" parameterType="com.qtt.entity.Options">
        insert qutingting.options(sid, op)
        VALUES (#{sid}, #{op})
    </insert>

  <update id="vote" parameterType="com.qtt.entity.Options">
    update qutingting.options set attainvote = attainvote + 1
    where options.id=#{id}
  </update>
</mapper>